.logo {
    margin: 30px;
    width: 200px;
    height: 200px;

}

body {
    font-family: 'Zen Kurenaido', sans-serif, bold;
    color: #FCFCFC;
    background-color: #9fa0a0;
    margin: 0;
    font-family: Tahoma, arial, helvetica;
    font-style: ital;
}

section {
    background-color: #9fa0a0;
}

.hero{
    background-color: rgb(88, 88, 88);
    height: 100vh;
    color: #9fa0a0;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-between;
    font-size: 30px;
}

li {
 /*   width: 200px; */
    text-decoration: none;
    
}

h1 {
    font-size: 90px;
    margin: 0px;
    color: #FCFCFC;
}

h2 {
    font-size: 80px;
}

p {
    margin: 0px;
    font-size: 30px;
    font-weight: 100px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    background-color: #fe01b1;
    color: #fcfcfc;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 300px;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover{
    background-color: #ff82d9;
    color:#ff82d9
}

.button:active {
    background-color: #898989;
    border-radius: 235px;
    color: #FCFCFC;
}

.socials {
    padding-bottom: 200px;
}


.social {
    margin: 10px;
}

.social:hover {
    background-color: #ff82d9;
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 60px;

}

.sub-section-alternative {
    display: flex;
    height: 700px;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot{
    width: 300px;
    height: 300px;
}

.headshot-container {
    display: flex;
    align-items: right;
}

.project-card {
    width: 200px;
    height: 500px;
    box-shadow: 5px 5px 20px;
    border-radius: 125px;
    margin: 10px
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: flex-end;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}


hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #fe01b1;
}

a {
    text-decoration: none;
    color: white;
}

a:active {
    color: #4b0034;
}

a:hover {
    color: #ff00b3;
}

.button-link {
    color:#ff82d9
}

footer {
    height: 200px;
    background-color: black;
    text-align: center;
    height: 400px;
    padding: 80px;
    color: #FCFCFC;
    text-align: center;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
}

ul {
    display: none;
    background-color: #9fa0a0;
    margin: 0px;
    border:
}

ul.show {
    display: block;
}
nav {
    align-items: flex-start;
    flex-direction: column-reverse;
    background-color: #616161;
}
.logo {
    display: none;
}
pre {
    background-color: white;
}
code{
    background-color: white !important;
}
}